*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #17171c;
}
.logo{
    max-width: 40%;
    height: 100px;
    display: flex;
}
.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: none;
}
ul li {
    list-style: none;
    font: bold;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: #fbfbff;

}
.banner{
    border: 1px solid rgb(111, 0, 255);
    display: flex;
    height: 83.6vh;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.banner_img{
    display: flex;
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(12, 23, 107);
    border-radius: 3px;
}
.banner_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-div {
    width: 45%;
    border: 1px solid rgb(12, 23, 107);

}
.bn-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
.text-div p{
    font-size: 2em;
}